In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
from scipy.stats import linregress
import re
#Directory from og data
file = "Clean Data.csv"
#Insert og data in a pandas DF
data = pd.read_csv(file)
data

,Title,Release Date,Language,Runtime,Revenue,Budget,Genre,Year,Month,Day,Profit
0,Avatar,2009-12-10,en,162.0,2787965087,237000000,Action,2009,12,10,2550965087
1,Pirates of the Caribbean: At World's End,2007-05-19,en,169.0,961000000,300000000,Adventure,2007,5,19,661000000
2,Spectre,2015-10-26,en,148.0,880674609,245000000,Action,2015,10,26,635674609
3,The Dark Knight Rises,2012-07-16,en,165.0,1084939099,250000000,Action,2012,7,16,834939099
4,John Carter,2012-03-07,en,132.0,284139100,260000000,Action,2012,3,7,24139100
...,...,...,...,...,...,...,...,...,...,...,...
2929,Blue Valentine,2010-12-27,en,112.0,16566240,3500000,Drama,2010,12,27,7640272
2930,Beyond the Valley of the Dolls,1970-07-17,en,109.0,40000000,2090000,Comedy,1970,7,17,19307746
2931,The Green Inferno,2014-09-04,en,100.0,6833445,5000000,Action,2014,9,4,7144595
2932,What Happens in Vegas,2008-05-07,da,99.0,170000000,35000000,Comedy,2008,5,7,5000000
2933,The Birth of a Nation,2016-09-09,en,120.0,15861566,8500000,Drama,2016,9,9,5737585

In [2]:
bins = [0,1970,1980,1990,2000,2010,2020]
labels = ["60's","70's","80's","90's","2000's","2010's"]
data["Decade"] = pd.cut(data["Year"],bins,labels=labels)
data

,Title,Release Date,Language,Runtime,Revenue,Budget,Genre,Year,Month,Day,Profit,Decade
0,Avatar,2009-12-10,en,162.0,2787965087,237000000,Action,2009,12,10,2550965087,2000's
1,Pirates of the Caribbean: At World's End,2007-05-19,en,169.0,961000000,300000000,Adventure,2007,5,19,661000000,2000's
2,Spectre,2015-10-26,en,148.0,880674609,245000000,Action,2015,10,26,635674609,2010's
3,The Dark Knight Rises,2012-07-16,en,165.0,1084939099,250000000,Action,2012,7,16,834939099,2010's
4,John Carter,2012-03-07,en,132.0,284139100,260000000,Action,2012,3,7,24139100,2010's
...,...,...,...,...,...,...,...,...,...,...,...,...
2929,Blue Valentine,2010-12-27,en,112.0,16566240,3500000,Drama,2010,12,27,7640272,2000's
2930,Beyond the Valley of the Dolls,1970-07-17,en,109.0,40000000,2090000,Comedy,1970,7,17,19307746,60's
2931,The Green Inferno,2014-09-04,en,100.0,6833445,5000000,Action,2014,9,4,7144595,2010's
2932,What Happens in Vegas,2008-05-07,da,99.0,170000000,35000000,Comedy,2008,5,7,5000000,2000's
2933,The Birth of a Nation,2016-09-09,en,120.0,15861566,8500000,Drama,2016,9,9,5737585,2010's

In [12]:
data_group = data.groupby("Genre")
data_size = (data_group["Decade"].count())
data_size

Genre
Action         569
Adventure      270
Animation       95
Comedy         585
Crime          128
Documentary     16
Drama          631
Family          38
Fantasy         88
History         15
Horror         174
Music           16
Mystery         25
No Genre         1
Romance         65
Science         75
Thriller       111
War             15
Western         17
Name: Decade, dtype: int64

In [19]:
age_count_totals = data["Decade"].value_counts()
age_count_totals

2000's    1288
2010's     732
90's       581
80's       202
70's        74
60's        57
Name: Decade, dtype: int64